.titulo{
    background-color: red;
    color: white;
}

.titulo:hover{
    background-color: blue;
    color: green;
    transition: 1s;
}

#subtitulo{
    font-size: 50px;
    font-weight: bold;
    color: blue;
}